h2{
	margin-top: 45%;
	position: sticky;
	text-decoration-style: wavy;
	color: white;
	opacity: 0.8;
}
body{
			background-image: url('5.jpg');
			background-size: contain;   
		}
		h1{
			font-size: 2.1rem;
			line-height: 1.4;
			letter-spacing: 0.5rem;
			text-align: center;
			color: white;
			margin-top: 50px;
		}
		.div1{
           width: 70%;
           height: 400px;
           position: absolute;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
           background-image: url('3.jpg');
           background-size: 100% 100%;
           box-shadow: 1px 2px 10px 5px white;
           animation:slider 100s infinite linear;
		}
		  @keyframes slider{
		  	 0%{background-image: url('7.jpg');}
		  	15%{background-image: url('6.jpg');}
		  	35%{background-image: url('2.jpg');}
		  	55%{background-image: url('5.jpg');}
		  	75%{background-image: url('4.jpg');}
		  	95%{background-image: url('3.jpg');}
		  }